@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Магазины";
}
<form action="" method="post">
    <input type="submit" name="strUrl" value="Магазин рыбалки" style="margin-left: 20px;" />
    <input type="submit" name="strUrl" value="Магазин Nike" style="margin-left: 60px;" />
    <input type="submit" name="strUrl" value="Магазин Adidas" style="margin-left: 50px;" />
    <input type="submit" name="strUrl" value="Магазин пятёрочка" style="margin-left: 50px;" />
    <input type="submit" name="strUrl" value="Магазин охоты" style="margin-left: 50px;" />
    <p>
        <img src="https://burobiz-a.akamaihd.net/uploads/images/18231/large_Panorama006.jpg" width="200" height="200" />
        <img src="https://magazinnoff.ru/images/Nike_big.jpg" width="200" height="200" />
        <img src="https://www.retailfood.it/wp-content/uploads/2017/03/adidas.jpg" width="200" height="200" />
        <img src="https://pro-dachnikov.com/uploads/posts/2021-10/1633818967_30-pro-dachnikov-com-p-fasad-magazina-pyaterochka-foto-38.jpg" width="200" height="200" />
        <img src="https://img2.voenpro.ru/images/ohota-i-rybalka--magaziny-sankt-peterburga-5.jpg" width="200" height="200" />
    </p>
</form>